html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
}

body {
  font-family: "Open Sans", "Inter", "Roboto", sans-serif;
  background-image: url("../images/PIA22316.jpeg");
  background-blend-mode: overlay(rgba(218, 212, 212, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#homepage body {
	background-image: url("../images/bg-mars-03.jpg");
}

/* Generic layout styles */

@media (min-width: 1200px) {
  .container {
    max-width: 1630px;
  }
}

.container {
  background-image: url("../images/bg-mars-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 0px 0px;
  position: relative;
  margin: 30px auto 30px;
  color: #fff;
  background-color: #1c2329;
  padding: 0 50px 50px 50px;
}

.container-1 {
  background-image: url("../images/bg-mars-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin: 30px auto 30px;
  color: #fff;
  background-color: #1c2329;
  padding: 0 50px 50px 50px;
  display: table;
  width: 100%;
}

.container-1 .wrapper {
  display: table;
  width: 100%;
}

.page-title {
  grid-column: 1 / span 2;
  width: auto;
  position: relative;
  color: #fff;
  margin-bottom: 30px;
}

.header {
	z-index: 999;
	width: auto;
	height: 90px;
	margin-bottom: 20px;
}

.section-left,
.section-right {
  width: auto;
  margin: 5px;
}

.section-left {
  float: left;
  grid-column: 1 / 1;
}

.section-right {
  float: right;
  grid-column: 2 / 2;
}

.col-left {
  display: table-cell;
  width: 320px;
  margin: 0 10px 0 0;
}

.col-right {
  display: table-cell;
  margin: 0 20px 0 10px;
}

.footer {
  width: auto;
  height: 80px;
  color: white;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(12, 11, 10, 0.9);
  margin: 10px 0 20px 0;
}

/* Top navigation menu styles  */
#navbar {
	overflow: hidden;
	z-index: 999;
	-webkit-box-shadow: 0 10px 10px -6px #000;
	-moz-box-shadow: 0 10px 10px -6px #000;
	box-shadow: 0 10px 10px -6px #000;
	/*border-top: 1px white solid;
	border-bottom: 1px white solid;*/
	background-color: #451804;
}

.nav-menu {
  float: right;
  overflow: hidden;
  z-index: 999;
  font-family: "Inter";
  font-weight: 900;
  font-size: 16pt;
  padding: 0 30px 0 0;
  height: 90px;
}

.nav-menu a {
	z-index: 999;
	color: inherit;
	cursor: pointer;
	display: block;
}

.nav-menu a:hover,
.nav-menu a.active:hover {
	background-color: #f0e7e7;
	color: #451804;
}

.nav-menu a.active {
  background-color: #3c0700;
  color: white;
}

.logo img,
.logo {
  float: left;
  width: 310px;
  max-width: 310px;
}

.logo img {
  padding: 6px 0 6px 20px;
}

/* Navbar links */
.nav-menu a {
  float: left;
  display: block;
  color: #f0e7e7;
  text-align: center;
  padding: 32px 14px 32px 14px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Home page styles */

#homepage {
	height: 100%;
}

#homepage body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
}

.home-wrapper {
	display: block;
	height: 100%;
	width: 100%;
}

img.home-logo {
	position: absolute;
	width: 540px;
	max-width: 720px;
	margin: 20px 0 0 20px;
	top: 5%;
	left: 40%;
}

img.rover-model {
	margin: 100px 0 0 20px;
	top: 5%;
	left: 40%;
}

.rover-intro {
	position: absolute;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 40px 0 0 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.rover-intro img {
	width: 70%; /* Will shrink image to 30% of its original width */
	height: auto;
	margin-right: 200px;
	
}

.tooltip-row {
	position: relative;
	z-index: 500;
	margin: 0 auto;
	display: inline-grid;
	grid-auto-columns: 150px;
	grid-column-gap: 5px;
	grid-template-areas: 'roverTip1 roverTip2 roverTip3 roverTip4 roverTip5 roverTip6';
	padding-bottom: 20px;
}

.intro-tooltip1 {
	z-index: 1;
	grid-area: roverTip1;
}

.intro-tooltip2 {
  grid-area: roverTip2;
}

.intro-tooltip3 {
  grid-area: roverTip3;
}

.intro-tooltip4 {
  grid-area: roverTip4;
}

.intro-tooltip5 {
  grid-area: roverTip5;
}

.intro-tooltip6 {
  grid-area: roverTip6;
}

.popover {
	z-index: 100;
	width: 400px;
	max-width: 480px;
	border: 2px solid rgba(255, 158, 0, 1);
	background-color: rgb(0,0,0,0.6);
}

.popover-header {
	background: #feccb1; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.bs-popover-auto[data-popper-placement^=top]>.popover-arrow::before, .bs-popover-top>.popover-arrow::before {
    background-color: rgb(0,0,0,0.8);
	bottom: 0;
    border-width: .5rem .5rem 0;
    border-top-color:  rgba(255, 158, 0, 1);
}

.popover .popover-arrow::before {
    position: absolute;
    display: block;
    content: "";
    border-top-color:  rgba(255, 158, 0, 1);
	background-color: transparent;
}

 .popover .popover-arrow::after {
    position: absolute;
    display: block;
    content: "";
    border-top-color:  rgba(255, 158, 0, 1);
	background-color: transparent;
}

/* Mission control page */

.mission-map {
  width: 90%;
  height: auto;
  border: 2px white solid;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}





/*<!--Manual Control layout>*/

/*for header .JS is used for this*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 100px;
}

.middle {
  grid-gap: 0.3em;
  display: grid;
  width: auto;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-position: center;
  border: 2px green solid;
  height: relative;
  background: rgba(255, 255, 255, 0.4);
}
.controller {
  display: grid;
  position: relative;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: auto;
  height: 390px fit-content;
  border: 2px blue solid;
}

.snapshot {
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin: auto;
}
.snapshot:active {
  margin-top: 0.02px;
  -webkit-transform: scale(0.05);
}
.info {
  color: seashell;
  font: bold 60px;
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: 1fr 1fr;
  height: initial;
}

.infoBoard {
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.4);
}
.manual-control {
  padding-left: 10px;

  background: rgba(0, 0, 0, 0.9);
}


/* Status layout */
status {
  min-width: 250px;
  color: seashell;
  padding: 10px;
  display: grid;
  background: rgba(255, 255, 255, 0.4);
  margin-left: 10px;
  width: 100%;
  font-size: large;
}

.status-info {
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border: 10px solid black;
}
.live-stream {
  border: 10px solid black;
  box-shadow: 5px rgb(184, 115, 66);
}

/*stolen from https://codepen.io/jason-kinney/pen/fChrj  */

.stop {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  cursor: pointer;

  background: radial-gradient(ellipse at center, rgb(247, 138, 88), black);

  -webkit-transition: all 0.5s ease;
}
.stop:active {
  margin-top: 2px;

  -webkit-transform: scale(0.75);
  -webkit-transition: all 0.3s ease;
  outline: none;
  background: radial-gradient(
    ellipse at center,
    lighten(rgb(209, 119, 35), 15%),
    lighten(rgb(209, 119, 35), 10%)
  );
  box-shadow: 0 15px 80px rgb(209, 119, 35),
    0 -15px 80px lighten(rgb(209, 119, 35), 30%),
    inset 0 -2px 2px lighten(rgb(209, 119, 35), 10%);
}
.stop:focus {
  outline: none;
}

.up {
  position: relative;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  cursor: pointer;

  background: radial-gradient(
    ellipse at center,
    rgb(247, 163, 67),
    rgb(0, 0, 0)
  );

  -webkit-transition: all 0.5s ease;
}
.up:active {
  margin-top: 2px;

  -webkit-transform: scale(0.75);
  -webkit-transition: all 0.3s ease;
  outline: none;
  background: radial-gradient(
    ellipse at center,
    rgb(247, 163, 67),
    rgb(0, 0, 0)
  );
  box-shadow: 0 15px 80px rgb(209, 119, 35),
    0 -15px 80px lighten(rgb(209, 119, 35), 30%),
    inset 0 -2px 2px lighten(rgb(209, 119, 35), 10%);
}

.b:focus {
  outline: none;
}
.down {
  margin: auto;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid lighten(rgb(204, 125, 21), 8%);
  background: radial-gradient(
    ellipse at center,
    rgb(247, 163, 67),
    rgb(0, 0, 0)
  );
  box-shadow: 0 15px 50px rgb(209, 119, 35),
    0 -15px 60px lighten(rgb(209, 119, 35), 30%),
    inset 0 2px 2px lighten(black, 20%);
  -webkit-transition: all 0.5s ease;
}

.down:active {
  margin-top: 2px;

  -webkit-transform: scale(0.75);
  -webkit-transition: all 0.3s ease;
  outline: none;
  background: radial-gradient(
    ellipse at center,
    rgb(247, 163, 67),
    rgb(0, 0, 0)
  );
  box-shadow: 0 15px 80px rgb(209, 119, 35),
    0 -15px 80px lighten(rgb(209, 119, 35), 30%),
    inset 0 -2px 2px lighten(rgb(209, 119, 35), 10%);
}
.down:focus {
  outline: none;
}

.right {
  margin: auto;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid lighten(rgb(204, 125, 21), 8%);
  background: radial-gradient(
    ellipse at center,
    rgb(247, 163, 67),
    rgb(0, 0, 0)
  );
  box-shadow: 0 15px 50px rgb(209, 119, 35),
    0 -15px 60px lighten(rgb(209, 119, 35), 30%),
    inset 0 2px 2px lighten(black, 20%);
  -webkit-transition: all 0.5s ease;
}
.right:active {
  margin-top: 2px;

  -webkit-transform: scale(0.75);
  -webkit-transition: all 0.3s ease;
  outline: none;
  background: radial-gradient(
    ellipse at center,
    rgb(247, 163, 67),
    rgb(0, 0, 0)
  );
  box-shadow: 0 15px 80px rgb(209, 119, 35),
    0 -15px 80px lighten(rgb(209, 119, 35), 30%),
    inset 0 -2px 2px lighten(rgb(209, 119, 35), 10%);
}
.right:focus {
  outline: none;
}

.left {
  margin: auto;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid lighten(rgb(204, 125, 21), 8%);
  background: radial-gradient(
    ellipse at center,
    rgb(247, 163, 67),
    rgb(0, 0, 0)
  );
  box-shadow: 0 15px 50px rgb(209, 119, 35),
    0 -15px 60px lighten(rgb(209, 119, 35), 30%),
    inset 0 2px 2px lighten(black, 20%);
  -webkit-transition: all 0.5s ease;
}

.left:active {
  margin-top: 2px;

  -webkit-transform: scale(0.98);
  -webkit-transition: all 0.3s ease;
  outline: none;
  background: radial-gradient(
    ellipse at center,
    lighten(rgb(209, 119, 35), 15%),
    lighten(rgb(209, 119, 35), 10%)
  );
  box-shadow: 0 15px 80px rgb(209, 119, 35),
    0 -15px 80px lighten(rgb(209, 119, 35), 30%),
    inset 0 -2px 2px lighten(rgb(209, 119, 35), 10%);
}
.left:focus {
  outline: none;
}

/* CSS style for Help Menu */
.accordion-button {
  background-color: black;
  color: white;
}
.accordion-collapse {
  background-color: rgba(225, 225, 225, 0.7);
  color: black;
}
.accordion-item {
  border-color: #852401;
  color: white;
}
