:root {
	--connection-btn-color: red;
	--offline-btn-color: #3A474D;
}

html,
body, body .container-1 {
  margin: 0;
  padding: 0;
  min-width: 100%;
}

body {
  font-family: "Open Sans", "Inter", "Roboto", sans-serif;
  background-image: url("../images/PIA22316.jpeg");
  background-blend-mode: overlay(rgba(218, 212, 212, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#homepage body {
	background-image: url("../images/bg-mars-03.jpg");
}

/* Generic layout styles */

@media (min-width: 1200px) {
  .container {
    max-width: 1630px;
  }
}

.container {
  background-image: url("../images/bg-mars-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 0px 0px;
  position: relative;
  margin: 30px auto 30px;
  color: #fff;
  background-color: #1c2329;
  padding: 0 50px 50px 50px;
}

.container-1 {
  background-image: url("../images/bg-mars-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin: 30px auto 30px;
  color: #fff;
  background-color: #1c2329;
  padding: 0 50px 50px 50px;
  display: table;
  width: 100%;
}

.container-1 .wrapper {
  display: table;
  width: 100%;
}

.page-title {
	grid-column: 1 / span 2;
	width: auto;
	position: relative;
	color: #fff;
	padding: 50px 0 20px 0;
}

.header {
	z-index: 999;
	width: auto;
	height: 90px;
	margin-bottom: 20px;
}

.section-left,
.section-right {
  width: auto;
  margin: 5px;
}

.section-left {
  float: left;
  grid-column: 1 / 1;
}

.section-right {
  float: right;
  grid-column: 2 / 2;
}

.col-left {
  display: table-cell;
  width: 320px;
  margin: 0 10px 0 0;
}

.col-right {
  display: table-cell;
  margin: 0 20px 0 10px;
}

.footer {
  width: auto;
  height: 80px;
  color: white;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(12, 11, 10, 0.9);
  margin: 10px 0 20px 0;
}

/* Top navigation menu styles  */
#navbar {
	overflow: hidden;
	z-index: 999;
	-webkit-box-shadow: 0 10px 10px -6px #000;
	-moz-box-shadow: 0 10px 10px -6px #000;
	box-shadow: 0 10px 10px -6px #000;
	/*border-top: 1px white solid;
	border-bottom: 1px white solid;*/
	background-color: #451804;
}

.nav-menu {
  float: right;
  overflow: hidden;
  z-index: 999;
  font-family: "Inter";
  font-weight: 900;
  font-size: 16pt;
  padding: 0 30px 0 0;
  height: 90px;
}

.nav-menu a {
	z-index: 999;
	color: inherit;
	cursor: pointer;
	display: block;
}

.nav-menu a:hover,
.nav-menu a.active:hover {
	background-color: #f0e7e7;
	color: #451804;
}

.nav-menu a.active {
  background-color: #3c0700;
  color: white;
}

.logo img,
.logo {
  float: left;
  width: 310px;
  max-width: 310px;
}

.logo img {
  padding: 6px 0 6px 20px;
}

/* Navbar links */
.nav-menu a {
  float: left;
  display: block;
  color: #f0e7e7;
  text-align: center;
  padding: 32px 14px 32px 14px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Home page styles */

#homepage {
	height: 100%;
}

#homepage body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
}

.home-wrapper {
	display: block;
	height: 100%;
	width: 100%;
}

img.home-logo {
	position: absolute;
	width: 540px;
	max-width: 720px;
	margin: 20px 0 0 20px;
	top: 5%;
	left: 40%;
	animation: fadeInAnimation 1s ease-in-out 1.5s forwards;
	
	-webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;

}

img.rover-model {
	margin: 100px 0 0 20px;
	top: 5%;
	left: 40%;
	
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	
}

.rover-intro {
	position: absolute;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 40px 0 0 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.rover-intro img {
	width: 70%; /* Will shrink image to 30% of its original width */
	height: auto;
	margin-right: 200px;
	
}

.tooltip-row {
	position: relative;
	z-index: 500;
	margin: 0 auto;
	display: inline-grid;
	grid-auto-columns: 150px;
	grid-column-gap: 5px;
	grid-template-areas: 'roverTip1 roverTip2 roverTip3 roverTip4 roverTip5 roverTip6';
	padding-bottom: 20px;
}

.intro-tooltip1 {
	z-index: 1;
	grid-area: roverTip1;
}

.intro-tooltip2 {
  grid-area: roverTip2;
}

.intro-tooltip3 {
  grid-area: roverTip3;
}

.intro-tooltip4 {
  grid-area: roverTip4;
}

.intro-tooltip5 {
  grid-area: roverTip5;
}

.intro-tooltip6 {
  grid-area: roverTip6;
}

.popover {
	z-index: 100;
	width: 400px;
	max-width: 480px;
	border: 2px solid rgba(255, 158, 0, 1);
	background-color: rgb(0,0,0,0.6);
}

.popover-header {
	background: #feccb1; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.bs-popover-auto[data-popper-placement^=top]>.popover-arrow::before, .bs-popover-top>.popover-arrow::before {
    background-color: rgb(0,0,0,0.8);
	bottom: 0;
    border-width: .5rem .5rem 0;
    border-top-color:  rgba(255, 158, 0, 1);
}

.popover .popover-arrow::before {
    position: absolute;
    display: block;
    content: "";
    border-top-color:  rgba(255, 158, 0, 1);
	background-color: transparent;
}

 .popover .popover-arrow::after {
    position: absolute;
    display: block;
    content: "";
    border-top-color:  rgba(255, 158, 0, 1);
	background-color: transparent;
}

/* Manual control page */
#manual-control .container {
  display: block;
  position: relative;
  margin: 30px auto 30px;
  color: #fff;
  background-color: #1c2329;
  padding: 0 50px 50px 50px;
}

.container-2col, .container-3col {
	grid-auto-rows: auto;
	gap: 0px 0px;
	position: relative;
	margin: 8px auto 8px;
	color: #fff;
}

.container-2col {
	display: grid;
	grid-template-columns: auto 540px;
}

.container-3col {
  display: grid;
  grid-template-columns: 340px auto 320px;
}

.streams, .controller, .rover-dash, .command-console, .status-output {
	margin: 2px 5px 2px 5px;
	padding: 10px 0;
}

#manual-control .panel {
	background-color: #b8b4a8 !important;
	border: 12px #fff6ed solid;
	padding: 0 0;
	box-shadow: 3px 3px 0px 0px #878787;
}

#manual-control .panel2 {
	height: 100%;
	background-color: #b8b4a8 !important;
	border: 6px #1b1b3d solid;
	margin: 0 0;
	padding-bottom: 10px;
}

#manual-control .panel-heading {
	margin: 0 auto;
	width: 80%;
	padding: 4px 0 0 15px;
	margin-bottom: 15px;
	color: #282828;
	text-align: center;
	border-bottom: 5px solid transparent;
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #1b1b3d  20%, #1b1b3d 80%, rgba(0, 0, 0, 0) 100%);
	border-image-slice: 1;
}

#manual-control .panel-heading h3 {
	display: inline-block;
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 22pt;
	text-transform: uppercase;
}

#manual-control .panel-body {
	padding: 5px;
}

.nasa-stream {
	display: flex;
	visibility: visible;
}

.camera-stream {
	display: none;
	visibility: hidden;
	justify-content: center;
  	align-items: center;
}

.camera-stream #cameraCanvas {
	margin: 0 auto;
}

.control-button-grid {
	display: grid;
	grid-template-columns: 130px 130px 130px;
	grid-template-rows: 130px 130px 130px;
	gap: 5px 5px;
	padding: 0 auto;
	width: 400px;
	max-width: 400px;
}

.control-button-container {
	width: 130px;
	height: 130px;
	margin: 0 auto;
}

.control-button {
    position: relative;
    display: inline-block;
	width: 120px;
	height: 120px;
    margin: 0 auto;
    
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.control-button #upbutton:hover, .control-button #downbutton:hover, 
.control-button #leftbutton:hover, .control-button #rightbutton:hover {
	color: #ffb400;
	text-shadow: 0px -1px #97A63A;
	cursor: pointer;
	-webkit-box-shadow:0px 0px 2px 2px rgba(255,179,0,0.9);
	-moz-box-shadow: 0px 0px 2px 2px rgba(255,179,0,0.9);
	box-shadow: 0px 0px 2px 2px rgba(255,179,0,0.9);
}

.control-button #stopbutton:hover {
	color: #ff0000;
	text-shadow: 0px -1px #97A63A;
	cursor: pointer;
	-webkit-box-shadow:0px 0px 2px 2px rgba(255,0,0,0.9);
	-moz-box-shadow: 0px 0px 2px 2px rgba(255,0,0,0.9);
	box-shadow: 0px 0px 2px 2px rgba(255,0,0,0.9);
}

.control-button #sidebutton:hover {
	color: #19ed46;
	text-shadow: 0px -1px #97A63A;
	cursor: pointer;
	-webkit-box-shadow:0px 0px 2px 2px rgba(25,237,71,0.9);
	-moz-box-shadow: 0px 0px 2px 2px rgba(25,237,71,0.9);
	box-shadow: 0px 0px 2px 2px rgba(25,237,71,0.9);
}

.control-button #connectbutton {
	color: var(--connection-btn-color);
}

.control-button:active {
	-webkit-box-shadow: 
	0px 3px rgba(128,128,128,1),
	0px 4px rgba(118,118,118,1),
	0px 5px rgba(108,108,108,1),
	0px 6px rgba(98,98,98,1),
	0px 7px rgba(88,88,88,1),
	0px 8px rgba(78,78,78,1),
	0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
}

.control-button:active span{
	-webkit-transform: translate(0, 5px); /* depth of button press */
}

.control-button span:after {
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 14px;
	top: 12px;    

	font-family: 'Cabin';
	font-weight: 700;
	color: #AEBF3B;
	text-shadow: 0px 1px #fff, 0px -1px #97A63A;
	font-size: 26px;
}

.control-button span {
    background-color: #E8E8E8;
    
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
   
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

    display: inline-block;
	width: 120px;
	height: 120px;
    
    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
    font-weight: 700;
    font-size: 32px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.connected:hover {
	color: #18ff00;
	text-shadow: 0px -1px #97A63A;
	cursor: pointer;
	-webkit-box-shadow:0px 0px 2px 2px rgba(24,255,0,0.9);
	-moz-box-shadow: 0px 0px 2px 2px rgba(24,255,0,0.9);
	box-shadow: 0px 0px 2px 2px rgba(24,255,0,0.9);
}

.disconnected:hover {
	color: var(--connection-btn-color);
	text-shadow: 0px -1px #97A63A;
	cursor: pointer;
	-webkit-box-shadow:0px 0px 2px 2px rgba(255,0,0,0.9);
	-moz-box-shadow: 0px 0px 2px 2px rgba(255,0,0,0.9);
	box-shadow: 0px 0px 2px 2px rgba(255,0,0,0.9);
}

#satelliteButton .disconnected, #cruiseButton .disconnected {
	color: red;
	text-shadow: 0px -1px #97A63A;
	cursor: pointer;
	-webkit-box-shadow:0px 0px 2px 2px rgba(255,0,0,0.9);
	-moz-box-shadow: 0px 0px 2px 2px rgba(255,0,0,0.9);
	box-shadow: 0px 0px 2px 2px rgba(255,0,0,0.9);
}

#satelliteButton .disconnected:hover, #cruiseButton .disconnected:hover {
	color: red;
	text-shadow: 0px -1px #97A63A;
	cursor: pointer;
	-webkit-box-shadow:0px 0px 2px 2px rgba(255,0,0,0.9);
	-moz-box-shadow: 0px 0px 2px 2px rgba(255,0,0,0.9);
	box-shadow: 0px 0px 2px 2px rgba(255,0,0,0.9);
}

.dashboard div[class^="label"] {
	min-width: 150px;
	width: 180px;
}

.dashboard div[class^="data"] {
	min-width: 70px;
	width: 100px;
}

.dashboard {
	display: grid;
	grid-template-columns: 180px 70px;
	grid-template-rows: 3.5em 3.5em 3.5em;
	gap: 0px 0px;
	grid-template-areas:
		". ."
		". ."
		". .";
	margin: 5px;
}

.dashboard .label1 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	border-right: 2px #d5d5d5 solid;
	border-bottom: 2px #d5d5d5 solid;
}

.dashboard .label2 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
	border-right: 2px #d5d5d5 solid;
	border-bottom: 2px #d5d5d5 solid;
}

.dashboard .label3 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
	border-right: 2px #d5d5d5 solid;
	border-bottom: 2px #d5d5d5 solid;
}

.dashboard .label4 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 4;
	border-right: 2px #d5d5d5 solid;
	border-bottom: 2px #d5d5d5 solid;
}

.dashboard .label5 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 5;
	grid-row-end: 5;
	border-right: 2px #d5d5d5 solid;
}

.dashboard .data1 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	border-bottom: 2px #d5d5d5 solid;
}

.dashboard .data2 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	border-bottom: 2px #d5d5d5 solid;
}

.dashboard .data3 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
	border-bottom: 2px #d5d5d5 solid;
}

.dashboard .data4 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 4;
	border-bottom: 2px #d5d5d5 solid;
}

.dashboard .data5 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 5;
}

/* Console terminal styles */
.terminalCont {
	background: black;
	width: 100%;
	padding: 12px 0 0 0;
	margin-top: -10px;
	font-family: 'Roboto Mono', monospace;
	opacity: 100;
}

.userEnteredText {
  color: rgba(255,255,255,0.6);
  margin: 0;
  padding: 0;
  display: inline-block;
}

#terminalReslutsCont {
	width:100%;
	height: 370px;
	padding: 8px;
	overflow-y: auto;
	resize: none;
	border: none;
	font-size: 10pt;
	font-weight: 400;
	line-height: 16px;
	display: block;
	color: rgba(255,255,255,0.95);
}

#terminalReslutsCont p {
	line-height: 14px;
}


#terminalReslutsCont a {
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}

#terminalReslutsCont a:hover {
  text-decoration: underline;
}

#terminalTextInput {
	background: black;
	display: block;
	border: none;
	border-top: 1px solid rgba(255,255,255,0.3);
	width: 100%;
	color: white;
	padding: 18px;
	font-size: 14px;
	outline: none;
	font-family: 'Roboto Mono', monospace;
}

.status-info {
	background: rgba(0, 0, 0, 0.8);
	height: 440px;
	min-height: 360px;
	border: 1px solid black;
	padding: 0px;
	margin: 2px;
	margin-top: -5px;
}

#serial-updates {
	display: block;
	width: 100%;
	height: 427px;
	min-height: 358px;
	overflow-y: scroll;
	font-size: 14px;
	line-height: 2px;
	border: 1px white solid;
	margin: 0;
}

.status-output {
	font-size: 14px;
	font-weight: 200;
	color: white;
	padding: 0;
}

.status-output p {
	line-height: normal;
}


/* Mission control page */
.mission-map {
  width: 90%;
  height: auto;
  border: 2px white solid;
}

/* Page content */
.content {
  padding: 16px;
}

/*
Commands Table*/
.commandTable {
  background-color: rgba(225,225,225, 0.2);
}

thead cell{
  background-color: rgba(225,225,225,0.4);
  font-size: 13px;
}

.data-cell{
  width: 100px;
}


/*<!--Manual Control layout>*/

/*for header .JS is used for this*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 100px;
}

.middle {
  grid-gap: 0.3em;
  display: grid;
  width: auto;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-position: center;
  border: 2px green solid;
  height: relative;
  background: rgba(255, 255, 255, 0.4);
}

.snapshot {
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin: auto;
}
.snapshot:active {
  margin-top: 0.02px;
  -webkit-transform: scale(0.05);
}
.info {
  color: seashell;
  font: bold 60px;
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: 1fr 1fr;
  height: initial;
}

.infoBoard {
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.4);
}
.manual-control {
  padding-left: 10px;

  background: rgba(0, 0, 0, 0.9);
}


/* CSS style for Help Menu */
.accordion-button {
  background-color: black;
  color: white;
}
.accordion-collapse {
  background-color: rgba(225, 225, 225, 0.7);
  color: black;
}
.accordion-item {
  border-color: #852401;
  color: white;
}
