.user-profile {
	grid-area: profile;
	width: 90px;
	height: 90px;
	float: right;
	z-index: 1002;
	overflow: visible;
}

.user-profile > button {
	z-index: 999;
	width: 90px;
	height: 90px;
	overflow: visible;
	background-color: #451804;
	box-shadow: none;
	border-radius: 0;
}

.user-profile > button:hover, .user-profile > button:focus {
	z-index: 999;
	width: 90px;
	height: 90px;
	overflow: visible;
	background-color: #f0e7e7;
	color: #451804;
}

.user-profile .dropdown-menu {
	z-index: 999;
	border-radius: 0;
	-webkit-box-shadow: 0 12px 12px -8px #000;
	-moz-box-shadow: 0 12px 12px -8px #000;
	box-shadow: 0 12px 12px -8px #000;
	background-color: #f0e7e7;
	color: #451804;
}

.user-profile a.dropdown-item:hover {
	background-color: #451804;
	color: #f0e7e7;
	border-radius: 0;
}

.user-profile a.dropdown-item {
	font-size: 14pt;
	font-weight: 900;
	font-family: 'Lato', 'Open Sans', 'Roboto', "sans-serif";
	line-height: 2em;
}

.user-profile .dropdown-item .mini-icon {
	margin-right: 12px;
}

#userModal .modal-header, .toast-header {
	color: #fff;
	background: #feccb1; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

#userModal .modal-header > h5 {
	color: #fff;
	font-family: 'Open Sans', 'Lato', 'Roboto', Helvetica, Arial, "sans-serif";
	font-weight: 600;
	text-shadow: 1px 1px 1px #000;
}

#userModal .input-group-text {
	background: #fff3df;
}

#userModal .form-control:focus {
	border-color: #633f00;
	box-shadow: 1px 1px 0 0 #633f00;
}

#formMessage.form-message {
	text-align: center;
	color: #f00;
}

#userModal .custom-error {
    border-color: #dc3545 !important;
    background-image: url('../images/unchecked-invalid.png') !important;
}

#userModal .form-control.is-valid, #userModal .was-validated .form-control:valid {
    border-color: #198754;
    padding-right: calc(1.5em + .75rem);
	background-image: url('../images/checked-valid.png');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

#userModal .form-control.is-invalid, #userModal .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url('../images/unchecked-invalid.png');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* Generic modal styling */

.modal-header {
	color: #fff;
	background: #feccb1; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.modal-header > h5 {
	color: #f8f8f8;
	font-family: 'Open Sans', 'Lato', 'Roboto', Helvetica, Arial, "sans-serif";
	font-weight: 400;
	text-shadow: 1px 1px 2px #451804;
	font-size: 18pt;
	text-transform: uppercase;
}

.modal-body {
	color: #451804;
	text-shadow: 1px 1px 2px #f0e7e7;
	
}

.modal-footer {
	background-color: #f0e7e7;
}

#warningPower .modal-footer > button {
	font-family: 'Lato', 'Roboto', Helvetica, Arial, "sans-serif";
	font-weight: 800;
	font-size: 12pt;
	text-shadow: 1px 1px 1px #451804;
}

#missionLoadList .modal-content,
#missionWarning .modal-content, 
#userModal .modal-content, 
#warningPower .modal-content {
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 12px 13px 6px rgba(0,0,0,0.5); 
	box-shadow: 0px 10px 13px -7px #000000, 0px 12px 13px 6px rgba(0,0,0,0.5);
}

#missionLoadList .btn-primary, 
#missionWarning .btn-primary, 
#warningPower .btn-primary,
#userModal .btn-primary {
	background-color: #c1440e;
}

#missionLoadList .btn-light {
	background-color: #f0e7e7;
	color: #451804;
	border: 1px inset rgb(253, 166, 0, 0.3);
}

#missionLoadList .btn-light:hover {
	background-color: #f5f5f5;
}

#missionLoadList .btn-primary:hover, 
#missionWarning .btn-primary:hover, 
#warningPower .btn-primary:hover,
#userModal .btn-primary:hover {
	background-color: #e77d11;
}