*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url('images/Mars.jpg');
}

nav{
    background-color: rgb(197, 145, 81);
    height: 80px;
    width: 100%;

}

    nav img{
    display: block;
    max-width: 80px;
    max-height: 80px;

    }
/*label.logo{
   
    background-image: url(/images/testLogo.png);
    width: 800px;
    height: 80px;
     
     font-size: 40px;
     line-height:80px;
     padding: 0 100px;
     font-weight: bold;

}
*/
    nav ul{
        float: right;
        margin-right: 20px;
    }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    nav ul li a{
        color:white;
        font-size: 17px;
        text-transform: uppercase;
        padding: 7px 13px;
        border-radius: 3px;
    }

    a.active, a:hover{
        background: #ccab6c;
        transition: .7s;

    }

    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check{
        display: none;
    }

    
    @media (max-width: 952px){

        div.img{
            display: block;
            max-height: 100%;
            max-width: 100%;
        }

        /*label.logo{
            font-size: 30px;
            padding-left: 50px;
        }*/
        nav ul li a{
            font-size: 16px;
        }
    }
    @media (max-width: 858px){
        .checkbtn{
            display: block;
        }
        ul{
            position:fixed;
            width: 100%;
            height: 100vh;
            background-image: url('images/roundMars.jpg');
            top: 80px;
            left:-100%;
            text-align: center;
            transition: all .5s;

        }
        nav ul li{
            display: block;
            margin: 50px 0 ;
            line-height: 30px; 
        }
        nav ul li a{
            font-size: 20px;

        }
        a:hover, a.active{
            background:none;
            color:rgb(185, 122, 4);

        }
        #check:checked ~ ul{
            left: 0;
          }
    }


/*<!--Manual Control layout>*/
.grid div{
    padding: 0.5em;
}

/*.grid div:nth-child(odd){
    background:rgb(243, 203, 130);

}*/
.grid{
  display: grid;
  
  grid-template-columns: 1fr 4fr 1fr;  
  grid-gap: 0.3em;
  grid-auto-rows: minmax(100px, auto);

}

  
.middle{
  
    grid-gap: 0.3em;
   display: grid;
    min-width: 500px;
    background-size: cover;
    background-position: center;
    max-width: 500px;
    

}
.controller{
    display: grid;
   position: relative;
    background:rgb(238, 179, 132);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 400px fit-content;
   
}

.info{
    display: grid;
    grid-gap: 0.2em;
    grid-template-columns: 1fr 1fr;
    background: white;
}

.infoBoard{
    background:rgb(229, 203, 182)
}

.menu{
   font-size: 10px;
}
.logoDisplay{
    padding-left: 5px;
    font-size: 30px;
    color: white;
    line-height: 80px;
    margin-right: 5px;
    cursor: pointer;
   
}

.side{
    background-size: cover;
    height: 100%;
    width: 100px;
}

    side ul{
        float:left;
        margin-right: 20px;
    }
    side ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    side ul li a{
        color:white;
        font-size: 17px;
        text-transform: uppercase;
        padding: 7px 13px;
        border-radius: 3px;
    }
    

    
  /*stolen from https://codepen.io/jason-kinney/pen/fChrj  */




.stop{

    
    position: relative;
  
  width:110px;
  height: 110px;
  border-radius: 50%;
    cursor: pointer;
  border: 1px solid lighten(rgb(204, 125, 21),8%);
  
  background: radial-gradient(ellipse at center, rgb(170, 108, 49), rgb(170, 108, 49),12%);
  box-shadow: 0 15px 50px rgb(209, 119, 35),
              0 -15px 60px lighten(rgb(209, 119, 35),30%),
              inset 0 2px 2px lighten(black, 20%);
  -webkit-transition:all 0.5s ease;

    
    b:active{
        margin-top: 2px;
    
        -webkit-transform: scale(0.95);
        -webkit-transition:all 0.3s ease;
        outline: none;
        background: radial-gradient(ellipse at center, lighten(rgb(209, 119, 35),15%), lighten(rgb(209, 119, 35),10%));
        box-shadow: 0 15px 80px rgb(209, 119, 35),
                    0 -15px 80px lighten(rgb(209, 119, 35),30%),
                    inset 0 -2px 2px lighten(rgb(209, 119, 35),10%);
    }
  b:focus { outline: none; }
}


.up{

position:relative;

  width:110px;
  height: 110px;
  border-radius: 50%;
    cursor: pointer;
  border: 1px solid lighten(rgb(204, 125, 21),8%);
  background: radial-gradient(ellipse at center, lighten(rgb(170, 108, 49),17%), lighten(rgb(209, 119, 35),12%));*/
  box-shadow: 0 15px 50px rgb(209, 119, 35),
              0 -15px 60px lighten(rgb(209, 119, 35),30%),
              inset 0 2px 2px lighten(black, 20%);
  -webkit-transition:all 0.5s ease;

    
    b:active {
        margin-top: 2px;
    
        -webkit-transform: scale(0.95);
        -webkit-transition:all 0.3s ease;
        outline: none;
        background: radial-gradient(ellipse at center, lighten(rgb(209, 119, 35),15%), lighten(rgb(209, 119, 35),10%));
        box-shadow: 0 15px 80px rgb(209, 119, 35),
                    0 -15px 80px lighten(rgb(209, 119, 35),30%),
                    inset 0 -2px 2px lighten(rgb(209, 119, 35),10%);
    }
  b:focus { outline: none; }
}
.down {
    margin: auto;
  width:110px;
  height: 110px;
  border-radius: 50%;
    cursor: pointer;
  border: 1px solid lighten(rgb(204, 125, 21),8%);
  background: radial-gradient(ellipse at center, lighten(rgb(170, 108, 49),17%), lighten(rgb(209, 119, 35),12%));*/
  box-shadow: 0 15px 50px rgb(209, 119, 35),
              0 -15px 60px lighten(rgb(209, 119, 35),30%),
              inset 0 2px 2px lighten(black, 20%);
  -webkit-transition:all 0.5s ease;

    
    b:active {
        margin-top: 2px;
    
        -webkit-transform: scale(0.95);
        -webkit-transition:all 0.3s ease;
        outline: none;
        background: radial-gradient(ellipse at center, lighten(rgb(209, 119, 35),15%), lighten(rgb(209, 119, 35),10%));
        box-shadow: 0 15px 80px rgb(209, 119, 35),
                    0 -15px 80px lighten(rgb(209, 119, 35),30%),
                    inset 0 -2px 2px lighten(rgb(209, 119, 35),10%);
    }
  b:focus { outline: none; }
}
.right {
    margin: auto;
  width:110px;
  height: 110px;
  border-radius: 50%;
    cursor: pointer;
  border: 1px solid lighten(rgb(204, 125, 21),8%);
  background: radial-gradient(ellipse at center, lighten(rgb(255, 128, 10),17%), lighten(rgb(209, 119, 35),12%));*/
  box-shadow: 0 15px 50px rgb(209, 119, 35),
              0 -15px 60px lighten(rgb(209, 119, 35),30%),
              inset 0 2px 2px lighten(black, 20%);
  -webkit-transition:all 0.5s ease;

    
    b:active {
        margin-top: 2px;
    
        -webkit-transform: scale(0.95);
        -webkit-transition:all 0.3s ease;
        outline: none;
        background: radial-gradient(ellipse at center, lighten(rgb(209, 119, 35),15%), lighten(rgb(209, 119, 35),10%));
        box-shadow: 0 15px 80px rgb(209, 119, 35),
                    0 -15px 80px lighten(rgb(209, 119, 35),30%),
                    inset 0 -2px 2px lighten(rgb(209, 119, 35),10%);
    }
  b:focus { outline: none; }
}

.left{
    margin: auto;
  width:110px;
  height: 110px;
  border-radius: 50%;
    cursor: pointer;
  border: 1px solid lighten(rgb(204, 125, 21),8%);
  background: radial-gradient(ellipse at center, lighten(rgb(170, 108, 49),17%), lighten(rgb(209, 119, 35),12%));*/
  box-shadow: 0 15px 50px rgb(209, 119, 35),
              0 -15px 60px lighten(rgb(209, 119, 35),30%),
              inset 0 2px 2px lighten(black, 20%);
  -webkit-transition:all 0.5s ease;

    
    b:active {
        margin-top: 2px;
    
        -webkit-transform: scale(0.95);
        -webkit-transition:all 0.3s ease;
        outline: none;
        background: radial-gradient(ellipse at center, lighten(rgb(209, 119, 35),15%), lighten(rgb(209, 119, 35),10%));
        box-shadow: 0 15px 80px rgb(209, 119, 35),
                    0 -15px 80px lighten(rgb(209, 119, 35),30%),
                    inset 0 -2px 2px lighten(rgb(209, 119, 35),10%);
    }
  b:focus { outline: none; }
}

